.todo-list-container {
  list-style-type: none;
}

.todo-item {
  border: none;
  border-radius: 10px;
  padding: 1em;
  margin: 5px;
  font-size: 2em;
  width: 100%;
}

.todo-item:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
